# Maildir style delivery is turned on by terminating the mailbox pathname with "/".
### http://www.postfix.org/VIRTUAL_README.html
# The following line is just an example.
#test@{{ website_domain }}	{{ website_domain }}/test/
